{include file="public/appm/tpl_header.html" /}
<body xmlns="http://www.w3.org/1999/html">
<div class="weui-tab container">
    <div class="weui-flex bg-faded aurora-edit-head">
        <div class="weui-flex__item">
            <div class="placeholder">
                <a href="{:urlBuild('!.user')}">
                    <i class="fa fa-arrow-circle-left"></i>
                    账户
                </a>
                /密码修改</div>
        </div>
    </div>
    <div class="js__form">
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">原密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" name="opassw" emptytips="原密码必填" required>
                </div>
            </div>
            <div class="weui-flex aurora-border"></div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">新密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" emptytips="新密码必填" name="npassw" required>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label class="weui-label">确认新密码</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" emptytips="请确认新密码" name="npassw_ck" required>
                </div>
            </div>
        </div>
        <div class="weui-flex aurora-border"></div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="submit_lnk">提交</a>
        </div>
    </div>
</div>
</body>
</html>