{// include file="app/admin/view/admin.html" /}
<blockquote class="blockquote">
    <p class="mb-0">
        <i class="fa fa-book" aria-hidden="true"></i>
        系统日志
    </p>
    <footer class="blockquote-footer">
        <a href="{:url('logger/edit')}">新增 <i class="fa fa-plus-square"></i></a>
        <a href="{:url('logger/sfile')}">文件日志 <i class="fa fa-suitcase"></i></a>
    </footer>
</blockquote>
<div>{$searchBar}</div>
<table class="table table-bordered">
    <thead>
    <tr><th>#</th><th>日志名称</th><th>日志代码</th><th>所属标识</th><th>类型</th><th>编辑时间</th><th>编辑者</th><th>操作</th></tr>
    </thead>
    <tbody>
    {$tbody|default="<tr><td colspan='7'>还没有数据</td></tr>"}
    </tbody>
</table>
<nav>
    {$pageBar|default=""}
</nav>