<ol class="breadcrumb" style="margin-top: 10px;">
    <li class="breadcrumb-item">
        <a href="{:urlBuild('!.project')}">
            <i class="{$setting.icon}" aria-hidden="true"></i>
            {$setting.descrip}
        </a>
    </li>
    <li class="breadcrumb-item active">{$data.code} | {$data.name}</li>
</ol>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#prj_descrip" data-toggle="tab" role="tab" aria-controls="prj_descrip">
                    <i class="fa fa-info text-success"></i>
                    {$data.code} 详情
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#prj_inform" data-toggle="tab" role="tab" aria-controls="prj_inform">
                    <i class="fa fa-newspaper-o"></i>
                    信息发布
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#prj_setting" data-toggle="tab" role="tab" aria-controls="prj_setting">
                    <i class="fa fa-cog"></i>
                    配置项
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="card-block tab-pane fade show active" id="prj_descrip" role="tabpanel" aria-labelledby="prj_descrip-tab">
            <h4 class="card-title">{$data.name}</h4>
            <h6 class="card-subtitle mb-2 text-muted text-right">时间： {$data.mtime}</h6>
            <p class="card-text">描述<br /> {$data.descrip}</p>
            <a href="{php}echo url('project/edit','uid='.$data['listid']);{/php}" class="btn btn-primary">修改</a>
        </div>
        <div class="card-block tab-pane fade" id="prj_inform" role="tabpanel" aria-labelledby="prj_setting-tab">
            <p class="text-right">
                <a href="{$data.news_url}" class="btn btn-success btn-sm"><i class="fa fa-plus-square"></i></a>
            </p>
            {$data.inform_list|default=""}
        </div>
        <div class="card-block tab-pane fade" id="prj_setting" role="tabpanel" aria-labelledby="prj_setting-tab">
            <p class="text-right">
                <a href="javascript:void(0);" class="btn btn-info btn-sm" id="setting_add_lnk"><i class="fa fa-plus-square-o"></i></a>
            </p>
            {$data.setting_list|default=""}
        </div>
    </div>
</div>