{include file="public/appm/tpl_header.html" /}
<body xmlns="http://www.w3.org/1999/html">
<div class="weui-tab container">
    <div class="page__hd">
        <h1 class="page__title">
            <a href="{:urlBuild('!.');}">
                <img src="/aurora/public/aurora-appm.png" alt="Aurora" height="50px">
            </a>
            通知公告
        </h1>
    </div>
    <div class="weui-panel" style="min-height: 450px;">
        <div class="weui-panel__hd">信息列表</div>
        <div class="weui-panel__bd">
            {$inform_list|default=""}
        </div>
    </div>
    <div class="weui-footer">
        <p class="weui-footer__links">
            <a href="javascript:void(0);" class="weui-footer__link">版本号: v{$Think.config.setting.version}({$Think.config.setting.build})</a>
        </p>
        <p class="weui-footer__text">Copyright &copy; {$Think.config.setting.start}-{:date('Y');} {$Think.config.setting.organization}</p>
    </div>
</div>
