{// include file="app/admin/view/admin.html" /}
<blockquote class="blockquote">
    <p class="mb-0">
        <i class="{$setting.icon}" aria-hidden="true"></i> {$setting.descrip}
    </p>
</blockquote>
<div>{$searchBar}</div>
<table class="table table-bordered">
    <thead>
    <tr><th>#</th><th>ip</th><th>移动端</th><th>编辑时间</th><th>累计次数</th><th>是否已分析地址</th></tr>
    </thead>
    <tbody>
    {$tbody|default="<tr><td colspan='5'>还没有数据</td></tr>"}
    </tbody>
</table>
<nav>
{$pageBar|default=""}
</nav>
