{include file="public/appd/tpl_header.html" /}
<body>
<nav class="navbar navbar-light bg-faded" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="{:urlBuild('!.')}">
        <img src="/aurora/public/aurora.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Conero/Aurora
    </a>
</nav>
<!--主容器-->
<div class="container">
    <div class="card" style="margin-top: 20px;">
        <div class="card-block">
            <h4 class="card-title">页面请求有误</h4>
            <!--<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
            <p class="card-text">消息： {$page.msg|default="Buddy, 您的请求已经出错了！"}</p>
            <p class="card-text">时间： {:sysdate()}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    <!--间隔-->
    <div class="card" style="min-height: 350px;"></div>
    <div class="card">
        <div class="card-block">
            <p class="card-text text-center" style="font-size: 0.64em;">
                <br> 页面更新: 2017年5月10日 星期三
                <br> 版本号: v{$Think.config.setting.version}({$Think.config.setting.build})
                <br> Copyright &copy; {$Think.config.setting.start}-{:date('Y');} {$Think.config.setting.organization}
            </p>
        </div>
    </div>
</div>
</body>
</html>