{include file="public/appm/tpl_header.html" /}
<body>
<div class="weui-tab container">
    <div class="page__hd">
        <h1 class="page__title">
            <a href="{:url('index/index');}">
                <img src="/aurora/public/aurora-appm.png" alt="Aurora" height="50px">
            </a>
            用户注册
        </h1>
    </div>
    <div class="weui-cells__title">用户注册</div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">账号</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" placeholder="设置账号"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">设置密码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="设置密码"/>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd"><label class="weui-label">确认密码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="password" placeholder="确认密码"/>
            </div>
        </div>
        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" placeholder="请输入验证码"/>
            </div>
            <div class="weui-cell__ft">
                <img class="weui-vcode-img" src="/aurora/public/appm/images/vcode.jpg" />
            </div>
        </div>
    </div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips">注册</a>
    </div>
</div>
</body>
</html>
