/* 2017年6月6日 星期二 移动端首页 */

/*涂鸦样式*/
.aurora-graffiti{
    /*border-bottom: lavenderblush outset 2px;*/
    /*border-bottom: lightgray outset 2px;*/
    border-bottom: lightgray double 2px;
    margin-top: 5px;

    /*border-bottom: #F8F8F8 outset 2px;*/

    padding-bottom: 10px;
}
.aurora-graffiti .aurora-graffiti__head{}
.aurora-graffiti__head .aro-graff__hd{
    padding-left: 15px;
    font-size: 1.22em;
}
.aurora-graffiti__head .aro-graff__ft{
    text-align: right;
    padding-right: 15px;
}
.aurora-graffiti .aurora-graffiti__desc{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: grey;
    border-top: lightgray outset 1px;
}
.aro-graff__pt{
    font-size: 0.84em;
    height: 43px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.aurora-graffiti .aurora-graffiti__footer{
    padding-left: 15px;
    /*border-top: lightgray outset 1px;*/
}