{include file="public/appm/tpl_header.html" /}
<body>
    <div class="weui-tab container">
        <!--首页-->
        <div class="weui-tab__panel" id="home">
            <!--内容页面            -->
            <div class="page__hd">
                <h1 class="page__title">
                    <img src="/aurora/public/aurora-appm.png" alt="Aurora" height="50px"> Aurora
                </h1>
                <p class="page__desc">{$setting.top_descrip|default='欢饮使用Aurora系统，该系统致力于管理个人，以及轻量级社区管理！项目筹建时间 2017年5月5日，依托原来的本地文本版应用，可更好的扩展系统。'}</p>
            </div>
            <div class="weui-flex aurora-border"></div>
            <div class="weui-panel">
                <div class="weui-panel__hd">信息中心</div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">通知公告</h4>
                        <p class="weui-media-box__desc">看看社区通知公共吧</p>
                        <div class="weui-cells">
                            {$page.inform_list|default=""}
                            <a class="weui-cell weui-cell_access" href="{:urlBuild('!.inform')}">
                                <div class="weui-cell__hd"></div>
                                <div class="weui-cell__bd weui-cell_primary">
                                    <p>查看更多</p>
                                </div>
                                <span class="weui-cell__ft"></span>
                            </a>
                        </div>
                    </div>
                    <div class="weui-flex aurora-border"></div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">
                            文章
                        </h4>
                        <p class="weui-media-box__desc">{$setting.article_desc|default='让文字改变和记录我们的生活吧，我阅读，我写，我记录我自己。注册以后就可以写文章了'}</p>
                    </div>
                </div>
                <div class="weui-panel__ft">
                    <a href="{:urlBuild('!.article')}" class="weui-cell weui-cell_access weui-cell_link">
                        <div class="weui-cell__bd">阅读文章</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                </div>
            </div>
            <div class="weui-flex aurora-border"></div>
            <div class="weui-cells__title">我们在一起</div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="{:urlBuild('!.feekback')}">
                    <div class="weui-cell__bd">
                        <p>系统反馈</p>
                    </div>
                    <div class="weui-cell__ft">
                        反馈系统问题，建议,留言等
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="{:urlBuild('!.register')}">
                    <div class="weui-cell__bd">
                        <p>加入我们</p>
                    </div>
                    <div class="weui-cell__ft">
                        注册，成我社区用户
                    </div>
                </a>
                {// 系统登录显隐}
                {eq name="page.isLogin" value="N"}
                <a class="weui-cell weui-cell_access" href="{:urlBuild('!.login')}">
                    <div class="weui-cell__bd">
                        <p>登录系统</p>
                    </div>
                    <div class="weui-cell__ft">
                        登录系统开始使用服务吧！
                    </div>
                </a>
                {/eq}
                <a class="weui-cell weui-cell_access" href="{:url('index/donate')}">
                    <div class="weui-cell__bd">
                        <p>捐赠</p>
                    </div>
                    <div class="weui-cell__ft">
                        拯救社区
                    </div>
                </a>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>累计访问次数</p>
                    </div>
                    <div class="weui-cell__ft">{$page.dcount}/{$page.count}</div>
                </div>
            </div>
            <div class="weui-flex aurora-border"></div>
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">版本号: v{$Think.config.setting.version}({$Think.config.setting.build})</a>
                </p>
                <p class="weui-footer__text">Copyright &copy; {$Think.config.setting.start}-{:date('Y');} {$Think.config.setting.organization}</p>
            </div>
        </div>
        <!--涂鸦墙-->
        <div class="weui-tab__panel" id="graffiti" style="display: none;">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>涂鸦墙</p>
                </div>
                <div class="weui-cell__ft"><a href="javascript:void(0);" class="text-success" id="gft_menu_lnk"><i class="fa fa-ellipsis-v"></i></a></div>
            </div>
            <div class="weui-flex aurora-border"></div>
            <div id="graffiti_panel"></div>
            <!--<div class="weui-panel" id="graffiti_panel">-->
            <!--</div>-->
        </div>
        <!--关于-->
        <div class="weui-tab__panel" id="about" style="display: none;">
            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__hd">基本信息</div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">作者</h4>
                        <p class="weui-media-box__desc">古丞秋!!</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">上线时间</h4>
                        <p class="weui-media-box__desc">截止今天{$page.online_cttdt}天，与{$page.online_dt}</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title"><a href="/Doeeking/">Doeeking</a></h4>
                        <p class="weui-media-box__desc">Doeeking v1 版本，开始没有采用框架，之后才慢慢专用ThinkPHP3.2.3</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title"><a href="/Conero/">Conero</a></h4>
                        <p class="weui-media-box__desc">Doeeking v2 , 通过上一版本慢慢转而使用ThinkPHP5.0.2</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">Aurora</h4>
                        <p class="weui-media-box__desc">Doeeking v3 当前版本</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">关注我们的微信</h4>
                        <p class="weui-media-box__desc">
                            <img src="{$Think.config.setting.static_pref}img/conero-dyh-min.jpg" alt="订阅号conero">
                        </p>
                    </div>
                </div>
                <div class="weui-panel__ft">
                    <a href="/aurora/index/mdreader.html?fmd=README&title=项目说明" class="weui-cell weui-cell_access weui-cell_link">
                        <div class="weui-cell__bd">项目说明</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                    <a href="/aurora/index/mdreader.html?fmd=Version&title=版本更新日志" class="weui-cell weui-cell_access weui-cell_link">
                        <div class="weui-cell__bd">更新日志</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                    <a href="https://git.oschina.net/Doee/aurora" class="weui-cell weui-cell_access weui-cell_link">
                        <div class="weui-cell__bd">进入git仓</div>
                        <span class="weui-cell__ft"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="weui-tabbar">
            <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on" data-url="home">
                <img src="/aurora/public/appm/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item" data-url="graffiti">
                <img src="/aurora/public/appm/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">涂鸦</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
                <img src="/aurora/public/appm/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">发现</p>
            </a>
            {if condition="$page.isLogin eq 'Y'"}
            <a href="javascript:;" class="weui-tabbar__item" data-url="user">
                <img src="/aurora/public/appm/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label" id="curr_user_account">{$page.user}</p>
            </a>
            {else}
            <a href="javascript:;" class="weui-tabbar__item" data-url="about">
                <img src="/aurora/public/appm/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">关于</p>
            </a>
            {/if}
        </div>
    </div>
</body>
</html>