{include file="public/appm/tpl_header.html" /}
<body>
    <div class="weui-tab container">
        <div class="weui-tab__panel">
            <!--内容页面            -->
            <div class="page__hd">
                <h1 class="page__title">
                    <img src="/aurora/public/aurora-appm.png" alt="Aurora" height="50px"> Aurora
                </h1>
                <p class="page__desc">欢饮使用Aurora系统，该系统致力于管理个人，以及轻量级社区管理！项目筹建时间 2017年5月5日，依托原来的本地文本版应用，可更好的扩展系统。 </p>
            </div>
            <div class="weui-panel">
                <div class="weui-panel__hd">信息中心</div>
                <div class="weui-panel__bd">
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">通知公告</h4>
                        <p class="weui-media-box__desc">看看社区通知公共吧</p>
                    </div>
                    <div class="weui-media-box weui-media-box_text">
                        <h4 class="weui-media-box__title">文章</h4>
                        <p class="weui-media-box__desc">让文字改变和记录我们的生活吧，我阅读，我写，我记录我自己</p>
                    </div>
                </div>
            </div>
            <div class="weui-cells__title">我们在一起</div>
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="{:url('register/index')}">
                    <div class="weui-cell__bd">
                        <p>加入我们</p>
                    </div>
                    <div class="weui-cell__ft">
                        注册，成我社区用户
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="{:url('login/index')}">
                    <div class="weui-cell__bd">
                        <p>登录系统</p>
                    </div>
                    <div class="weui-cell__ft">
                        登录系统开始使用服务吧！
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>出谋划策</p>
                    </div>
                    <div class="weui-cell__ft">
                        建设更好的系统
                    </div>
                </a>
                <a class="weui-cell weui-cell_access" href="javascript:;">
                    <div class="weui-cell__bd">
                        <p>捐赠</p>
                    </div>
                    <div class="weui-cell__ft">
                        拯救社区
                    </div>
                </a>
                <div class="weui-cell">
                    <div class="weui-cell__bd">
                        <p>系统访问累计访问次数</p>
                    </div>
                    <div class="weui-cell__ft">15</div>
                </div>
            </div>
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
                    <a href="javascript:void(0);" class="weui-footer__link">底部链接</a>
                </p>
                <p class="weui-footer__text">Copyright &copy; 2008-2016 Coenro</p>
            </div>
        </div>
        <div class="weui-tabbar">
            <a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
                <img src="/aurora/public/appm/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
                <img src="/aurora/public/appm/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">通讯录</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
                <img src="/aurora/public/appm/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">发现</p>
            </a>
            <a href="javascript:;" class="weui-tabbar__item">
                <img src="/aurora/public/appm/images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                <p class="weui-tabbar__label">我</p>
            </a>
        </div>
    </div>
</body>
</html>