{include file="public/appm/tpl_header.html" /}
<body xmlns="http://www.w3.org/1999/html">
<div class="weui-tab container">
    <div class="weui-flex bg-faded aurora-edit-head">
        <div class="weui-flex__item">
            <div class="placeholder">
                <a href="{:urlBuild('!.finance')}">
                    <i class="fa fa-arrow-circle-left"></i>
                    财务系统
                </a>
                /记账</div>
        </div>
    </div>
    <div class="js__form">
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="date_ipter" class="weui-label">日期</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="date" id="date_ipter" value="{$data.date|default=''}" emptytips="请设置账单日期" name="date" required>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="master_ipter" class="weui-label">事务甲方</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" id="master_ipter" type="text" value="{$data.master|default=''}" readonly emptytips="请设置事务甲方"   required>
                    <input type="hidden" id="masterid_ipter" name="master_id" value="{$data.master_id|default=''}">
                </div>
                <div class="weui-cell__ft">
                    <button class="weui-vcode-btn" id="master_setter_btn">设置</button>
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="money_ipter" class="weui-label">金额</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" name="money" value="{$data.money|default=''}" emptytips="请设置金额"  id="money_ipter" required>
                </div>
            </div>
        </div>
        <div class="weui-cells__title weui-label">* 科目</div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" name="subject_id" id="subject_ipter" emptytips="请设置科目"  required>
                        {$data.subject_opts}
                    </select>
                </div>
            </div>
        </div>
        <div class="weui-cells__title weui-label">* 类型</div>
        <div class="weui-cells">
            <div class="weui-cell weui-cell_select">
                <div class="weui-cell__bd">
                    <select class="weui-select" name="type" id="type_ipter" required>
                        <option value="IN" selected>收入</option>
                        <option value="OU">支出</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">
                <label class="weui-label">标签</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" name="tag_id" id="tagid_ipter">
            </div>
            <div class="weui-cell__ft">
                <button class="weui-vcode-btn">设置</button>
            </div>
        </div>
        <div class="weui-flex aurora-border"></div>
        <div class="weui-cells">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="slave_ipter" class="weui-label">事务乙方</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" name="slave" id="slave_ipter" value="{$data.slave|default=''}">
                    <input type="hidden" name="slave_id" id="slaveid_ipter" value="{$data.slave_id|default=''}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="city_ipt" class="weui-label">财务城市</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" value="{$data.city|default=''}" name="city" id="city_ipt">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="address_ipter" class="weui-label">详细地址</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" value="{$data.address|default=''}" id="address_ipter">
                </div>
            </div>
        </div>
        <div class="weui-cells__title weui-label">* 描述</div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <textarea class="weui-textarea" placeholder="输入账单描述" rows="3" name="descrip" id="descrip_ipter" emptytips="请设置描述" required>{$data.descrip|default=''}</textarea>
                <div class="weui-textarea-counter"><span>0</span>/200</div>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-uploader">
                    <div class="weui-uploader__hd">
                        <p class="weui-uploader__title">附件上传</p>
                    </div>
                    <div class="weui-uploader__bd">
                        <ul class="weui-uploader__files" id="uploaderCustomFiles"></ul>
                        <div class="weui-uploader__input-box">
                            <input id="uploaderCustomInput" class="weui-uploader__input" name="attach" type="file" multiple="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-flex aurora-border"></div>
    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_primary" href="javascript:" id="submit_lnk">确定</a>
    </div>
</div>
</body>
</html>
