{include file="public/appd/tpl_header.html" /}
<body>
<!--主容器-->
<div class="container-flud">
    <nav class="navbar">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Aurora</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Disabled</a>
            </li>
        </ul>
    </nav>
    <div class="container">
    </div>
    <!-- Content here -->
</div>
</body>
</html>