{// include file="app/admin/view/admin.html" /}
<blockquote class="blockquote">
    <p class="mb-0">
        <i class="{$setting.icon}" aria-hidden="true"></i> {$setting.descrip}
    </p>
    <footer class="blockquote-footer">
        <a href="{:url('token/edit')}">申请令牌 <i class="fa fa-plus-square"></i></a>
    </footer>
</blockquote>
<div>{$searchBar}</div>
<table class="table table-bordered">
    <thead>
    <tr><th>#</th><th>令牌</th><th>类型</th><th>有效期</th><th>请求次数</th><th>无效标识</th><th>编辑者</th><th>编辑时间</th><th>操作</th></tr>
    </thead>
    <tbody>
    {$tbody|default="<tr><td colspan='8'>还没有数据</td></tr>"}
    </tbody>
</table>
<nav>
    {$pageBar|default=""}
</nav>