/* 
 @date 2017年5月6日 星期六
 @name wap 全局变量
*/

.container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.container {
    overflow: auto;
}
/*.container {
    padding-left: 10px;
    padding-right: 10px;
}*/

.page__hd {
    padding: 40px;
}

.page__hd .page__title {
    font-size: 0;
    margin-bottom: 15px;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
/*
  页面描述
*/
.page__desc {
    margin-top: 5px;
    color: #888;
    text-align: left;
    font-size: 14px;
}

/****************************************
  来自 bootstrap 框架 begin
*****************************************/
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}


.bg-faded {
  background-color: #f7f7f7;
}

.bg-primary {
  background-color: #0275d8 !important;
}

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #025aa5 !important;
}

.bg-success {
  background-color: #5cb85c !important;
}

.bg-success {
  background-color: #5cb85c !important;
}

a.bg-success:focus, a.bg-success:hover {
  background-color: #449d44 !important;
}

.bg-info {
  background-color: #5bc0de !important;
}

a.bg-info:focus, a.bg-info:hover {
  background-color: #31b0d5 !important;
}

.bg-warning {
  background-color: #f0ad4e !important;
}

a.bg-warning:focus, a.bg-warning:hover {
  background-color: #ec971f !important;
}

.bg-danger {
  background-color: #d9534f !important;
}

a.bg-danger:focus, a.bg-danger:hover {
  background-color: #c9302c !important;
}

.bg-inverse {
  background-color: #292b2c !important;
}

a.bg-inverse:focus, a.bg-inverse:hover {
  background-color: #101112 !important;
}


.text-white {
  color: #fff !important;
}

.text-muted {
  color: #636c72 !important;
}

a.text-muted:focus, a.text-muted:hover {
  color: #4b5257 !important;
}

.text-primary {
  color: #0275d8 !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #025aa5 !important;
}

.text-success {
  color: #5cb85c !important;
}

a.text-success:focus, a.text-success:hover {
  color: #449d44 !important;
}

.text-info {
  color: #5bc0de !important;
}

a.text-info:focus, a.text-info:hover {
  color: #31b0d5 !important;
}

.text-warning {
  color: #f0ad4e !important;
}

a.text-warning:focus, a.text-warning:hover {
  color: #ec971f !important;
}

.text-danger {
  color: #d9534f !important;
}

a.text-danger:focus, a.text-danger:hover {
  color: #c9302c !important;
}

.text-gray-dark {
  color: #292b2c !important;
}

a.text-gray-dark:focus, a.text-gray-dark:hover {
  color: #101112 !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}
/****************************************
  来自 bootstrap 框架 end
*****************************************/





/****************************************
  自定义手机端 begin 2017年5月12日 星期五
*****************************************/

/*编辑页头部*/
.aurora-edit-head{  
  padding-bottom: 10px;
  padding-top: 5px;
  font-size: 1.3em;
}

/*页脚*/
.aurora-footer{  
  margin-top: 40px;
  /*padding-bottom: 10px;*/
}

/*模块间的间隙*/
.aurora-border{
    background-color: #F8F8F8;
    /*background-color: #F7F7FA;*/
    /*background-color: #E9E9E0;*/
    min-height: 8px;
}
/*移动端隐藏模块*/
.aurora-hidden{
  display: none;
}
/****************************************
  自定义手机端 end
*****************************************/